@media (max-width:1675px)
    .container
        max-width: 1100px
        &_category
            flex-wrap: wrap
        
    .header
        ul 
            li
                &:nth-child(3)
                    padding-right: 15px
                &:nth-child(7)
                    padding-right: 15px
                a
                    font-size: 14px
    .search
        justify-content: space-between
        .logo
            margin-right: 40px
        &__item
            width: 500px
            margin-top: 0
        &__sum
            width: 120px
        .people
            margin-right: 20px
    .category
        min-height: 170px
        img
            height: 40px
            width: auto
        &__link
            margin-right: 50px
    .slider
        &__ul
            width: 250px
        &__li 
            &_yellow
                font-size: 22px
            &::after
                width: 299px
                top: 12px
                
                    
                   
            
        &__sale
            width: 270px
    .swiper-container 
        width: 500px
    .swiper-slide
        justify-content: space-around
    .swiper
        &__sclif
            font-size: 22px
        &__img
            img
                height: 300px
                width: auto
        &__descrs
            width: 250px
        &__equipment
            font-size: 16px
    .brands
        ul 
            a 
                li 
                    img
                        padding-right: 25px
    .news
        margin-top: 130px
        &__content
            width: 450px
            img
                width: 450px
                height: auto
            &_big
                width: 600px
                img
                    height: 168px
                    width: auto
        &__head
            font-size: 17px
        &__desc 
            font-size: 15px
        &__block
            margin-top: 20px
        &__descr
            margin-top: 50px
            &_two
                margin-top: 0
    .recom
        &__banner
            bottom: 81px
            img
                width: 420px
                height: auto
        &__texts
            top: 170px
        &__text
            font-size: 14px
            margin-top: 10px   
            &_white
                left: -10px 
            &_right
                right: -225px
                width: 284px
        &__equip
            font-size: 24px 
            &_white
                left: -10px
            &_right
                right: -225px
        &__brand
            font-size: 18px
            &_white
                left: -10px 
            &_right
                right: -225px

        &__banners
            width: 500px
            height: 500px
            img
                width: 500px
                height: auto
        &__block
            width: 500px
            top: -41px
        &__blockTwo
            width: 500px
            img
                bottom: -8px
                height: 242px
        &__contents
            height: 530px
    .sentence
        
        &__heading
            text-align: center
            font-size: 35px
        &__descr
            text-align: center
        &__descrs
            order: 1
        &__head 
            text-align: center
            font-size: 35px
        &__info
            order: 0
           
            margin: 0 0px 30px 0
        .logo_big
            margin: 0
            font-size: 35px
            color: #121212
            font-weight: normal
            text-align: center
            img
                display: block
                margin: 0 auto
        &__comp
            text-align: center
        &__inform
            text-align: center
    .plus
        button
            display: block
            margin: 20px auto 0 auto
    .footer
        margin-top: 100px
        &__main
            justify-content: space-around
        

@media (max-width:1199px)
    .container
        max-width: 970px
        &_category
            display: none
        &_foot 
            flex-direction: column
            justify-content: space-around
            align-items: center
            min-height: 210px
    .header
        background-color: #e8e7e7
        min-height: 65px
        padding-bottom: 10px
        ul 
            li 
                color: #ffffff
                &:nth-child(3)
                    border-right: none
                &:nth-child(7)
                    border-right: none
                &:nth-child(11)
                    margin-bottom: 50px
                a 
                    font-size: 16px

        &__item
            position: fixed
            flex-direction: column
            justify-content: center
            align-items: center
            top: 0
            left: -100%
            width: 50%
            height: 100%
            padding: 20px 15px
            background-color: rgba(0,0,0,.8)
            transition: .6s all
            z-index: 2
        
            &_active
                left: 0
        .burger
            width: 50px
            height: 50px
            background-color: #ffaf2d
            border-radius: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin: 0 25px 0 10px
            span
                display: block
                height: 3px
                width: 30px
                background-color: #fff
                margin-bottom: 5px
                transition: .5s all
                &:nth-child(3)
                    margin: 0
            &_active
                position: fixed
                
                z-index: 3
                span
                    margin-bottom: -5px
                    
                    &:nth-child(1)
                        transform: translateY(-2px) rotate(-45deg)
                    &:nth-child(2)
                        display: none
                    &:nth-child(3)
                        transform: translateY(0px) rotate(45deg)
        nav
            display: flex
            align-items: center
            min-height: 100%
            justify-content: space-between
             
        .logo
           
            &_none
                display: block
                bottom: 5px
                text-decoration: none
                line-height: 20px
                font-size: 30px
                position: relative
                
            img 
                position: relative
                top: 13px
            div
                font-size: 18px
                font-weight: 300
                color: #777777
                margin-left: 50px
        &__search
            display: block
            height: 50px
        &__tel
            display: block
            height: 50px
        &__basket
            display: block
            position: relative
            bottom: 10px
        &__icons
            display: flex
            align-items: center
            justify-content: space-between
            width: 200px
        .basket-yellow
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            div
                font-size: 20px
                font-weight: 300
                color: #fda11c
        &__block
            display: flex
            align-items: center
    .search
        display: none
    .category
        margin-top: 10px
        min-height: 80px
        background-color: #e8e7e7
        box-shadow: none
        border-top: 1px solid #d6d6d6
        padding-top: 10px
        &__mobile
            min-height: 80px
            display: flex
            align-items: center
            justify-content: space-between
            margin: 0 40px 0 20px 
        &__equip
            display: block
            font-size: 30px
            font-weight: 300
        &__arr
            display: block
            margin-top: 15px
            &::before
                content: ''
                width: 20px
                left: 95%
                bottom: 12px
                transform: rotate(30deg)
                display: block
                position: relative
                border: 2px solid #777777
                background-color: #777777
            &::after
                content: ''
                width: 20px
                left: 95%
                bottom: 5px
                transform: rotate(-30deg)
                display: block
                position: relative
                border: 2px solid #777777
                background-color: #777777
    .slider
        margin: 0
        flex-direction: column
        &__menu
            display: none
        &__sale
            margin-top: 30px
            width: 690px
            height: 476px
            border-radius: 2px
            border: solid 2px #faad3d
            img
                width: 118px
                height: 146px
            a 
                font-size: 30px
                font-weight: 300
        .arrow
            &_yellow
                &::before
                    left: 280px
                    bottom: 20px
                    border: 1px solid #ffaf2d   
                    width: 15px 
                    transform: rotate(30deg)

                &::after
                    width: 15px 
                    bottom: 14px
                    left: 280px
                    border: 1px solid #ffaf2d
                    transform: rotate(-30deg)

        &__text
            font-size: 25px
            font-weight: 300
        &__Sale 
            font-size: 50px
            font-weight: 400
            color: #191919
    .swiper-container 
        width: 100%
        height: 550px
    .swiper-slide
        width: 100%
        &_active
            width: 100%
    .swiper
        &__img
            img
                width: 274px
                height: 387px
        &__sclif
            font-weight: normal
            font-size: 40px
            color: #f3f1f1
        &__descrs
            width: 400px
        &__equipment
            font-size: 25px
        &__portfolio
            font-size: 25px
        &__link
            button
                font-size: 30px
                border-radius: 18px
                padding: 14px 35px
                margin: 0
    .brands
        width: 694px
        min-height: 510px
        margin: 30px auto
        &__border
            border-right: none
         

        ul 
            width: 694px
            flex-wrap: wrap
            min-height: 510px
            
                
            img
                height: 57px
                width: 240px
            a 
                
                &:nth-child(1)
                    border-right: 1px solid #e7e6e6
                    height: 70px
                    margin-left: 7px
                    
                
                &:nth-child(3)
                    border-right: 1px solid #e7e6e6
                    height: 70px
                    margin-left: 8px
                &:nth-child(5)
                    border-right: 1px solid #e7e6e6
                    height: 70px
                    margin-right: 15px
                .all-brands
                    padding-right: 60px
                    font-size: 30px
                    font-weight: normal
                    color: #282828
    .news
        display: none
    .recom
        &__contents
            flex-direction: column
            min-height: 1250px
        &__banner
            display: none
            &_none
                height: 400px

                display: flex            
                bottom: 120px
                width: 694px
                margin: 0px auto 0 auto     
                img
                    width: 694px
                    height: 400px 
                    position: relative
                    top: -200px  
                    z-index: -1
                
        &__descr
            margin-bottom: 0  
            font-size: 30px
        &__heading
            font-size: 50px
        &__brand
            font-size: 30px
            font-weight: 300

            &_white
                left: 570px
            &_right
                left: 250px
        &__texts
            left: -130px
            align-items: flex-start
            top: 120px
            width: 270px
        &__equip
            font-size: 40px
            font-weight: normal
            margin-bottom: 20px
            &_white
                left: 570px
                margin-top: 25px
            &_right
                left: 250px
        &__text
            text-align: left
            font-size: 20px
            font-weight: 300
            &_white
                left: 570px
                margin-top: 35px
            &_right
                left: 250px
        &__block
            width: 694px
            display: block
            top: -200px
            margin-top: 15px

            
            img
                width: 694px
                height: 400px
        &__blockTwo
            display: none
            &_none
                width: 694px
                top: -500px
                margin-left: 142px
                display: flex
            img
               
                width: 694px
                height: 400px
        &__block-text
            bottom: 370px
            &_two
                bottom: 0px
    .sentence
        justify-content: flex-start
        &__info
            margin-left: 80px
        .logo
            &_big
                text-align: left
                font-size: 50px
                font-weight: normal
                color: #191919
                img
                    margin: 0 0 40px 0
                .dev
                    width: 450px
                    font-size: 25px
                    color: #777777
        &__comp
            text-align: left
            margin-top: 30px
            font-size: 40px
            font-weight: normal
            color: #1d1d1d
            width: 310px
            div
                font-weight: 300
                font-size: 30px

        &__inform
            text-align: left
            ul 
                font-size: 30px
        &__descrs
            margin-top: 40px
        &__heading
            text-align: left
            font-size: 50px
            font-weight: normal
        &__descr
            text-align: left
            font-size: 30px
            font-weight: 300
            &_none
                display: none
        &__head
            display: none
    .plus
        button
            margin: 30px 0 0 0 
            width: 60px
            height: 60px
    .footer
        &__main
            display: none
            &_mobile
                min-height: 565px
                display: flex
                flex-direction: column
                justify-content: space-around
                background-color: #282828
        &__link
            font-size: 30px
            font-weight: 300
            color: #ffffff
            text-decoration: none 
        &__plus
            position: relative
            top: 15px
            &::after
                content: ''
                border: 1px solid #ffffff
                width: 17px
                display: block
                top: -50%
                transform: translateY(50%)
                
            &::before
                content: ''
                border: 1px solid #ffffff
                display: block
                top: -100%
                transform: translateY(100%) rotate(90deg)
                
                width: 17px
                 
        &__item
            display: flex
            justify-content: space-between
            margin: 0 50px
            padding: 35px 0
            border-bottom: 1px solid #616161
            &:nth-child(1)
                margin-top: 60px
            &:nth-child(5)
                border-bottom: none
        &__foot
            min-height: 210px
        .logo
            &_white
                font-size: 50px
                font-weight: normal
                line-height: 43px
                margin: 10px 0 0 0
                img
                    width: 80px
                    height: 80px
                .creat
                    font-size: 30px
                    font-weight: 300
                    line-height: 25px
        &__dev
            font-size: 40.5px
            letter-spacing: 0.41px
            color: #ffffff
            margin-right: 30px
            margin-bottom: 10px
