.header
    height: 48px
    background-color: #00aa4b
   
    ul 
        display: flex
        justify-content: space-between
        align-items: center
        
    &__list  
        list-style-type: none
        margin: 15px 0 15px 0
        opacity: 1
        transition-duration: 0.3s
        line-height: 40px
        padding: 0 20px
        &:hover
            
            background-color: #33bb6f
        &:nth-child(3)
            border-right: 1px solid #d5bee7
            padding-right: 29px
        &:nth-child(7)
            border-right: 1px solid #d5bee7
            padding: 0 29px

        &:nth-child(10)
            position: relative
        &:nth-child(11)
            position: relative
        a 
            display: flex
            align-items: center
            color: #ffffff
            text-decoration: none
            font-size: 16px
            font-weight: normal
        .first
            margin-right: 8px
            .second
                margin-right: 4px
            

    .burger
        display: none           
    &__none
        display: none       
    .logo
        &_none
            display: none
    &__search
        display: none
    &__tel
        display: none               
    &__basket
        display: none
    &__icons
        display: none
    &__block
        display: none
    .copy__btn
        position: absolute
        bottom: -65px
        background-color: #232323
        border: none
        padding: 15px 35px
        border-radius: 23px
        color: #ffffff
        font-size: 16px
        outline: none
        opacity: 0
        transition: 0.3s opacity
        cursor: pointer
        &_active
            opacity: 1
    &__item
        height: 50px
